{{define "frag/sessionrow"}}
<tr id="session-{{.ID}}"><td><a href="/sessions/{{.ID}}">{{id .ID}}</a></td><td>{{.Actor}}</td><td>{{.WorkDir}}</td><td>{{.RunCount}}</td><td>{{relTime .LastUsedAt}}</td><td>{{.CreatedBy}}</td></tr>
{{end}}
